/*
  Bootstrap-alike helpers
*/
.txt-center {
  text-align: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/*
  Text helpers
 */
.normal {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
}


/*
  Horizontal margin helpers
*/
.ml-none { margin-left: 0; }
.mr-none { margin-right: 0; }

.ml-xs { margin-left: 15px; }
.mr-xs { margin-right: 15px; }

.ml-s { margin-left: 30px; }
.mr-s { margin-right: 30px; }

.ml-m { margin-left: 45px; }
.mr-m { margin-right: 45px; }

.ml-l { margin-left: 60px; }
.mr-l { margin-right: 60px; }


/*
  Vertical margin helpers
 */
.mb-none { margin-bottom: 0; }

.mt-xs { margin-top: 15px; }
.mb-xs { margin-bottom: 15px; }

.mb-s { margin-bottom: 30px; }
.mt-s { margin-top: 30px; }

.mb-m { margin-bottom: 45px; }
.mt-m { margin-top: 45px; }

.mb-l { margin-bottom: 60px; }
.mt-l { margin-top: 60px; }


/*
  Relative and absolute positioning
 */
.pos-rel {
  position: relative;
}

/* They all need a parent with .pos-rel or the body
   will be the parent for alignment */
.abs-l, .abs-r, .abs-t, .abs-b, .abs-center {
  position: absolute;
}

.abs-l {
  left: 0;
}
.abs-r {
  right: 0;
}
.abs-t {
  top: 0;
}
.abs-b {
  bottom: 0;
}

.abs-center {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 50%; /* Add another class to override height! */
}


/*
  Divider
 */
.divider-bottom {
  border-bottom: 1px solid #f0f0f0;
}
