/* base styles */
body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
}

/* Grid */
.container {
  margin: 0 auto;
  width: 1100px;
}

.col-6 {
  float: left;
  width: 60%;
}

.col-4 {
  float: left;
  margin-left: 5%;
  width: 35%;
}


/* helper classes */
.list-inline {
  list-style: none;
  padding: 0;
}
.list-inline li {
  float: left;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}


/* modules */
.main-header {
  background-color: #ff9900;
}

.main-header__logo {
  margin-top: 20px;
}

.meta-nav {
  float: right;
}

.meta-nav__item {
  color: #fff;
  margin-right: 20px;
  margin-top: 50px;
}

.main-header__stage {
  background-image: url("../img/key-visual.jpg");
  background-size: cover;
  background-position: 50%;
  height: 400px;
}

.main-header__topic {
  margin-top: 100px;
}

.main-nav {
  margin-top: 40px;
}

.main-nav__item {
  width: 20%;
}
.main-nav__item a {
  color: #fff;
  font-size: 20px;
}

.main-footer {
  margin-top: 40px;
}
